$primary-color: #5596E6;
$secondary-color: #e6a555;
$third-color: #4178BE;
$danger-color: #e65c55;
$success-color: #23d160;
$light-font-color: #FFFFFF;
$dark-font-color: #242224;
$gray-font-color: #363636;
$font-stack: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$default-margin: 7px;
$default-padding: 7px
